@import "scss/variables";

#root {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  background-color: $bg-yellow;
  background-image: url("./assets/background_full.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.cover {
  max-width: $container-width;
  height: 150px;
  margin: 0 auto;
  background-image: url("./assets/clouds.svg");
  background-repeat: no-repeat;
  background-size: $container-width;
  background-position: 100% 0;

  h1 {
    padding-top: 35px;
    font-family: "Playfair Display", serif;
    font-size: 32px;
    text-align: left;
    line-height: 1em;

    @media screen and (min-width: $desktop-width) {
      text-align: center;
      padding-top: 93px;
      font-size: 40px;
    }
  }
}

.book-container {
  max-width: $container-width;
  padding: 30px 30px 70px;
  margin: 0 auto 30px auto;
  box-sizing: border-box;
  background-color: $book-container-bg;
}

.book-form {
  margin-bottom: 25px;

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.book-form-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .input-cost,
  .input-quantity {
    width: 44%;
  }

  .input-title {
    width: 100%;
  }

  .input-cost {
    margin-right: 6%;
  }

  .book-form-input {
    margin-bottom: 12px;
    padding: 9px 0 9px 3%;
    background-color: $input-bg;
    border: none;
    border-radius: 3px;
    font-size: 13px;
  }

  .book-form-button {
    display: block;
    width: 100%;
    padding: 7px 0;
    background-color: $add-button-bg;
    color: $white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 57px;

    .input-title,
    .input-cost,
    .input-quantity {
      margin-right: 20px;
    }

    .input-cost,
    .input-quantity {
      width: 20%;
    }

    .input-title {
      width: 31%;
    }

    .book-form-button {
      width: 32px;
      height: 31px;
    }
  }
}

.book-table {
  width: 100%;
}

.book-table-header,
.book-totals {
  position: absolute;
  width: 68%;
  max-width: $header-and-total-max-width;
  margin: 0 auto;
  padding: 9px 55px;
  left: 0;
  right: 0;
  border-radius: 3px;
  background: black;
  color: $white;
  opacity: $header-and-total-bar-opacity;
}

.book-table-header {
  text-transform: uppercase;
}

.book-totals {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.book-table-headers-text,
.totals-text {
  font-family: "Lato", sans-serif;
}

.book-table-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.book-table-td,
.book-table-placeholder {
  font-family: "Lato", sans-serif;
}

.book-table-placeholder {
  text-align: center;
}

.book-table-button {
  padding: 8px 14px;
  background: $remove-button-bg;
  color: $white;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  position: relative;
  bottom: 40px;
  float: right;

  @media screen and (min-width: $mobile-width) {
    float: initial;
    bottom: initial;
    position: initial;
  }
}

.book-totals-cost,
.book-totals-quantity {
  display: inline-block;
}

.book-totals-quantity {
  width: 46%;
  text-align: right;
}

.book-totals-cost {
  width: 50%;
}

@media screen and (min-width: $desktop-width) {
  .book-table-td-quantity {
    padding-left: 20px;
  }

  .book-table-row-container {
    padding: 50px 0 45px;
  }

  .book-table-row {
    display: grid;
    grid-template-columns: $grid-col-1-width $grid-col-2-width $grid-col-3-width $grid-col-4-width $grid-col-5-width;
  }

  .book-table-header {
    display: grid;
    grid-template-columns: $grid-col-1-width $grid-col-2-width $grid-col-3-width $grid-col-4-width $grid-col-5-width;
  }

  .book-totals {
    display: grid;
    grid-template-columns: $grid-col-1-width $grid-col-2-width $grid-col-3-width $grid-col-4-width $grid-col-5-width;
  }

  .book-totals-quantity {
    width: initial;
    padding-left: 20px;
    text-align: left;
  }
}

.pencil-img-container {
  position: absolute;
}

.pencil-img {
  position: relative;
  bottom: 40px;
  width: 284px;
  right: 110px;
}

.mobile-only {
  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: $desktop-width - 1px) {
    display: none;
  }
}

.hidden {
  display: none;
}

// CSS RESET
// http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
