$bg-yellow: #fcd12a;
$white: #ffffff;
$add-button-bg: #00c33f;
$remove-button-bg: #fb4a31;
$book-container-bg: #f8f8f8;
$input-bg: #dedede;
$header-and-total-bar-opacity: 0.7;

$container-width: 750px;
$header-and-total-max-width: 687px;
$desktop-width: 768px;
$mobile-width: $desktop-width - 1px;

$grid-col-1-width: 10%;
$grid-col-2-width: 30%;
$grid-col-3-width: 25%;
$grid-col-4-width: 25%;
$grid-col-5-width: 10%;
